In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Section 1 Load and Visualise the Data

- Downlaod
- Load 
- Visualise 
- Normalisation

In [5]:
x= pd.read_csv('./Training Data/Linear_X_Train.csv')
y= pd.read_csv('./Training Data/Linear_Y_Train.csv')

In [7]:
y.head()

           y
0  -0.091101
1 -53.467721
2  75.457009
3 -12.025286
4  57.414187